# SIGEDOC Environment Configuration
APP_ENV=dev
APP_URL=http://localhost
APP_NAME="SIGEDOC - Sistema Integrado de Gestión Documental"

# Database Configuration
DB_TYPE=sqlsrv
DB_HOST=localhost
DB_NAME=sigedoc
DB_USER=
DB_PASS=

# LDAP Configuration
LDAP_HOST=
LDAP_PORT=389
LDAP_DOMAIN=
LDAP_BASE_DN=

# SMTP Configuration
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME='Sigedoc Notificaciones'
MAIL_HELP_DESK=

# Path to OpenSSL config (Optional)
# OPENSSL_CONF=
